
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/lovan');
                
h6{
	font-family: 'Lovan', sans-serif;
}
body {
	padding: 0;
	margin: 0;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: "Cinzel", sans-serif;	
	font-style: normal;
	color: white;
	transition: .5s;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgb(232, 232, 232);
	box-shadow: 0 0 20px rgba(175, 175, 175, 0.5);
  }

.itms button{
	border: 1px solid rgb(0, 0, 0);
	border-radius: 50px;
	background-color: transparent;
	color: rgb(0, 0, 0);
	cursor: pointer;
	font-family: "Cinzel", serif;
	text-transform: capitalize;
	height: 30-px;
	font-size: 18px;
	position: relative;
	bottom: 22px;
	width: 80px;
	transition: .5s;
}
.itms button:hover{
	scale: 110%;
}
.logo h1{
	font-size: 32px;
	font-weight: 500;
	line-height: 32px;
	text-transform: capitalize;
	font-family: "Cinzel", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 600;
	cursor: pointer;
}
.itms p{
	position: relative;
	top: -20px;
	text-transform: capitalize;
	font-weight: 200;
	font-size: 19px;
	transition: .3s;
	margin: 0 35px;
}
.itms p:hover{
	scale: 110%;
	text-shadow: 0 0px 8px white;
}

  
  .firstbox{
	display: flex;
	justify-content: center;
	align-items: center;
	top: 90px;
	position: relative;
	text-align: center;
	height: auto;
  }
 
  .firstbox .box{
	justify-content: space-between;
}
.fir img{
	margin-bottom: 10px;
	object-fit: cover;
	margin-left: 10px;
	border-radius: 12px;
}

@media (max-width: 900px){
 .video-container h1{
	font-size: 45px;
 }      
}
@media (max-width: 450px){
	.sec button{
		width: 130px;
		font-size: 13px;
	}
}
@media (max-width: 640px){
	.sec h1{
		font-size: 30px;
	}
	.video-container h1{
		font-size: 30px;
	 }
	.sec{
		padding-left: 50px;
		padding-right: 20px;
	}
}
@media (max-width: 400px){
	.sec{
		padding-left: 30px;
		padding-right: 3px;
	}
	.sec button{
		display: none;
	}
	.sec h1{
		font-size: 35px;
	}
	header{
		height: 70px;
	}
	.firstbox{
		top: 70px;
	}
	/* firstbox responsive for */
	.firstbox{
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;
		top: 90px;
		position: relative;
		overflow: auto;
		margin-left: -150px;
	  }
	 .fir{
		display: flex;
		gap: 25px;
	 }
	  .firstbox .box{
		
  		justify-content: space-around;
	}
	.fir img{
		width: 400px;
    	height: 300px;
		margin-bottom: 20px;
		object-fit: cover;
		margin-left: 0;
		border-radius: 12px;
	}
	.fir .abc{
		width: 300px;
	}
}