
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
	padding: 0;
	margin: 0;
	background-color: black;
	box-sizing: border-box;
	text-transform: uppercase;
	font-family: "Cinzel", serif;
	font-style: normal;
	color: white;
	transition: .5s;
}

header {
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: black;
	box-shadow: 0 0 20px rgba(186, 186, 186, 0.5);
  }

.itms button{
	border: 1px solid white;
	border-radius: 50px;
	background-color: transparent;
	color: white;
	cursor: pointer;
	font-family: "Cinzel", serif;
	text-transform: capitalize;
	height: 30-px;
	font-size: 18px;
	position: relative;
	bottom: 22px;
	width: 80px;
	transition: .5s;
}
.itms button:hover{
	scale: 110%;
}
.logo h1{
	font-size: 32px;
	font-weight: 500;
	line-height: 32px;
	text-transform: capitalize;
	font-family: "Cinzel", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 600;
	cursor: pointer;
}
.itms p{
	position: relative;
	top: -20px;
	text-transform: capitalize;
	font-weight: 200;
	font-size: 19px;
	transition: .3s;
	margin: 0 35px;
}
.itms p:hover{
	scale: 110%;
	text-shadow: 0 0px 8px white;
}
.video-container {
	position: relative;
	width: 100%;
  }
  .video-container video {
	width: 100%;
  }
  .gradient-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
	  rgba(0, 0, 0, 0.8) 0%,
	  rgba(0, 0, 0, 0) 0%,
	  rgba(0, 0, 0, 0) 60%,
	  rgba(0, 0, 0, 1) 100%
	);
	pointer-events: none;
  }

  .video-container h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: white;
	text-align: center;
	width: 100%;
	font-size: 65px;
	text-shadow: 5px 2px 25px rgb(0, 0, 0);
	text-transform: capitalize;
	font-family: "Cinzel", serif;
	font-optical-sizing: auto;
  }
  .sec{
	padding-left: 60px;
	padding-right: 60px;
	height: 250px;
	justify-content: space-between;
	display: flex;
	text-align: center;
	align-items: center;
	text-transform: capitalize;
	font-family: "Cinzel", serif;
  }
  .sec h1{
	font-size: 40px;
  }
  .sec button{
	border: 1px solid white;
	border-radius: 50px;
	background-color: transparent;
	color: white;
	font-family: "Cinzel", serif;
	padding: 8px 16px 8px 16px;
	text-transform: capitalize;
	height: 45px;
	transition: .5s;
	cursor: pointer;
	font-size: 17px;
	width: 160px;
  }
  .sec button:hover{
	scale: 110%;
	border: 1.5px solid white;
  }
  .firstbox{
	display: flex;
	justify-content: center;
	align-items: center;
	top: 90px;
	position: relative;
	text-align: center;
	height: auto;
  }
 
  .firstbox .box{
	justify-content: space-between;
}
.fir img{
	margin-bottom: 10px;
	object-fit: cover;
	margin-left: 10px;
	border-radius: 12px;
}

/*
.secondsection{
	justify-content: center;
	align-items: center;
	top: 90px;
	position: relative;
	text-align: center;
	height: auto;
}
.first{
	position: absolute;
	display: flex;
}
.foimg{
	width: 50%;
	background-color: red;
	height: 500px;
}
.foim{
	width: 30%;
	background-color: yellow;
	height: 500px;
}
.foi{
	width: 40%;
	height: 394px;
	background-color: green;
}
.fo{
	width: 40%;
	height: 394px;
	background-color: rebeccapurple ;
}*/
@media (max-width: 900px){
 .video-container h1{
	font-size: 45px;
 }      
}
@media (max-width: 450px){
	.sec button{
		width: 130px;
		font-size: 13px;
	}
}
@media (max-width: 640px){
	.sec h1{
		font-size: 30px;
	}
	.video-container h1{
		font-size: 30px;
	 }
	.sec{
		padding-left: 50px;
		padding-right: 20px;
	}
}
@media (max-width: 400px){
	.sec{
		padding-left: 30px;
		padding-right: 3px;
	}
	.sec button{
		display: none;
	}
	.sec h1{
		font-size: 35px;
	}
	header{
		height: 70px;
	}
	.firstbox{
		top: 70px;
	}
	/* firstbox responsive for */
	.firstbox{
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;
		top: 90px;
		position: relative;
		overflow: auto;
		margin-left: -150px;
	  }
	 .fir{
		display: flex;
		gap: 25px;
	 }
	  .firstbox .box{
		
  		justify-content: space-around;
	}
	.fir img{
		width: 400px;
    	height: 300px;
		margin-bottom: 20px;
		object-fit: cover;
		margin-left: 0;
		border-radius: 12px;
	}
	.fir .abc{
		width: 300px;
	}
}